*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #AED6F1;
	margin: 40;
	font-family: 'Century Gothic', sans-serif;
}

.cab {
	width: 600px;
	margin: 0 auto;
	background: #5DADE2;
	margin-top: 1%;
	padding: 30px;
	text-align: center;
	border-radius: 5%;
}

.logo-img{
		border-radius: 3%;
}

.cab h1 {
	font-size: 40px;
	letter-spacing: 4px;
	font-weight: bold;
	margin: 15px 0 5px;
}

.box {
	
	margin: 0 auto;
	background: #5DADE2;
	margin-top: 1%;
	padding: 30px;
	text-align: center;
}

.box h3 {
	font-size: 30px;
	letter-spacing: 2px;
	font-weight: 150;
	margin: 5px 0 10px;
}

.box p {
	margin: 0 auto;
	width: 600px;
	font-size: 17px;
}

ul.navega li {
	display: inline;
	padding-right: 5em;
	width: 15%;
}



.menu {
	margin: 0 auto;
	background: #5DADE2;
	margin-top: 2%;
	padding: 30px;
	text-align: center;
}

.lCat, .conjuntoArt {
	margin: 0 auto;
	margin-top: 1%;
	padding: 15px;
	width: 80%;
}

.conjuntoArt {
}

.lArt {
	margin: 0 auto;
	margin-top: 1%;
	padding: 15px;
	text-align: left;
}

.lArt-tab td, tr {
	width: 16%;
}

.lArt p{
	text-align: center;
}

.lCat caption, .lArt caption, .conjuntoArt caption {
	font-weight: bold;
	font-size: 30px;
	padding: 0.3em;
}

.lCat-tab {
	width: 100%;
}
.lCat th,td {
	width: 20%;
	margin-top: 20px;
	padding: 0.3em;
	background-color: #5DADE2;
}

.lCat a:link, a:visited, a:active {
	text-decoration: none;
	color: black;
}

.precio {
	color: white;
	font-size: 50px;
}

.nombre{
	font-size: 24px;
	font-weight: 900;
}

			.slide {
				position: relative;
				box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
				margin-top: 26px;
			}

			.slide-inner {
				position: relative;
				overflow: hidden;
				width: 100%;
				height: calc( 300px + 3em);
			}

			.slide-open:checked + .slide-item {
				position: static;
				opacity: 100;
			}

			.slide-item {
				position: absolute;
				opacity: 0;
				-webkit-transition: opacity 0.6s ease-out;
				transition: opacity 0.6s ease-out;
			}

			.slide-item img {
				display: block;
				height: auto;
				max-width: 100%;
				margin: 0 auto;
			}

			.slide-control {
				background: rgba(0, 0, 0, 0.28);
				border-radius: 50%;
				color: #fff;
				cursor: pointer;
				display: none;
				font-size: 40px;
				height: 40px;
				line-height: 35px;
				position: absolute;
				top: 50%;
				-webkit-transform: translate(0, -50%);
				cursor: pointer;
				-ms-transform: translate(0, -50%);
				transform: translate(0, -50%);
				text-align: center;
				width: 40px;
				z-index: 10;
			}

			.slide-control.prev {
				left: 2%;
			}

			.slide-control.next {
				right: 2%;
			}

			.slide-control:hover {
				background: rgba(0, 0, 0, 0.8);
				color: #aaaaaa;
			}

			#slide-1:checked ~ .control-1,
			#slide-2:checked ~ .control-2,
			#slide-3:checked ~ .control-3 {
				display: block;
			}

			.slide-indicador {
				list-style: none;
				margin: 0;
				padding: 0;
				position: absolute;
				bottom: 2%;
				left: 0;
				right: 0;
				text-align: center;
				z-index: 10;
			}

			.slide-indicador li {
				display: inline-block;
				margin: 0 5px;
			}

			.slide-circulo {
				color: #828282;
				cursor: pointer;
				display: block;
				font-size: 35px;
			}

			.slide-circulo:hover {
				color: #aaaaaa;
			}

			#slide-1:checked ~ .control-1 ~ .slide-indicador li:nth-child(1) .slide-circulo,
			#slide-2:checked ~ .control-2 ~ .slide-indicador li:nth-child(2) .slide-circulo,
			#slide-3:checked ~ .control-3 ~ .slide-indicador li:nth-child(3) .slide-circulo {
				color: #428bca;
			}
